*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  
}
.box{
  width: 400px;
  height: 200px;
  background-color: rgb(35, 35, 66, 0.5);
  background-image: linear-gradient(to right, red,rgba(35, 35, 114, 0.5), rgb(35, 35, 66, 0.3));
  color: white;
  box-sizing: border-box;
  padding: 10px 20px 0px 20px;
  position: fixed;
  
}
#gameSt{
  width: 90%;
  height: 20%;
  margin:  5% 0 5% 0;
  border-radius: 10px;
  border: none;
}
img{
  height: 100vh
}

.radio{
  text-align: left;
  font-weight: bolder;
  width: 340px;
  margin: 15px 0px 10px 0px; 
  padding: 10px;
  border: 1px solid white;
  border-radius: 8px
}
h1,h2,h3{
  margin: 0 0 10px 0;
}

.navigation{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#back{
  padding: 8px;
  background-color: rgb(49, 49, 139);
  color: white;
  font-weight: bolder;
  border: 1px white solid;
  border-radius: 5px;
}
#next{
  padding: 8px;
  background-color: rgb(201, 3, 3, .5);
  color: white;
  font-weight: bolder;
  border: 1px white solid;
  border-radius: 5px;
}
#nickname{
  font-weight: bolder;
  width: 330px;
  margin: 30px 0px 30px 0px;  
  background-color: rgba(35, 35, 114, 0.5);
  color: white;
  
}

#popupOverlay{
  display: none;
  position: fixed;
  top: 0%;
  left: 35%;
  width: 400px;
  height: 100vh;
  background-color: rgb(6, 197, 201,0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-content{
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}
main{
  position: fixed;
  left: 0;
  top:0;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height:99%;
  display: flex;
  z-index: -100;
  overflow: hidden;
} 
.game-overlay{
  width: fit-content;
  height: 100%;
  background-color: rgb(27, 27, 36);
  padding-top: 10px;
  padding-left: 15px;  
  padding-right: 15px;  
  flex-wrap: wrap;
}

#gameBox5{
  width: 350px;
  height: 350px;
  background-color: mediumslateblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

#gameBox6{
  display: none;
  width: 400px;
  height: 400px;
  background-color: mediumslateblue;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.btn{
  width: 60px;
  height: 60px;
  background-color: #c7fff1;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn6{
  width: 60px;
  height: 60px;
  background-color: #c7fff1;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading{
  color: white;
}

.navButton{
  padding: 8px;
  background-color: rgb(49, 49, 139);
  color: white;
  font-weight: bolder;
  border: 1px white solid;
  border-radius: 5px;
  margin: 5px;
  z-index: 100;

}

.function{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  width: 230px;
  flex-wrap:wrap ;
  margin: 40px 0px 0px 15%;
}

#knight{
  width: 120%;
  height: 120%;
}

#gameOver{
  position: fixed;
  left: 0;
  top:0;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height:90%;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(255, 170, 196);
  text-shadow: 5px 5px 5px purple;
  display: none;
  transition: (color) 2s 0s ease-in-out;


}
#popup{
  width: 340px;
  height: 96%;
  background-color: rgb(63, 63, 104);
  padding-top: 10px;
  padding-left: 15px;  
  padding-right: 15px;  
  flex-wrap: wrap;
  position: fixed;
  z-index: 10000;
  top: 10px;
  color: white;
  display:none;
}
#ok{
  width: 100px;
}

#celebration{
  background-color: gold ;
}

